@import '@/styles/main';

.container{
    width: 100%;
    height: 100%;
    .title{
        font-size: 2rem;
        margin-bottom: 2rem;
    }
    .orders{
        display: flex;
        align-items: center;
        gap: 2rem;
        flex-wrap: wrap;
    }
}